.estado-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    text-transform: capitalize;
}

.estado-tag.en-proceso {
    background-color: #ffc107;
    color: #222;
}

.estado-tag.aceptado {
    background-color: #28a745;
    color: #fff;
}

.estado-tag.rechazado {
    background-color: #dc3545;
    color: #fff;
}

.observacion,
.asignacion {
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-left: 4px solid #ccc;
    margin-top: 15px;
    border-radius: 5px;
}

.observacion h4,
.asignacion h4 {
    margin-bottom: 5px;
}

.adjunto-box iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tipoDoc p {
    font-size: 15px;
    padding-bottom: 5px;
}

.info-box {
    background-color: #d6d6d6;
}

.asignacion {
    border-bottom: 20px;
}