.sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    /* Oculto inicialmente */
    width: 260px;
    height: 100%;
    background-color: #4d0000;
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    box-shadow: 2px 0 8px rgb(92, 0, 0);
}

.sidebar.open {
    right: 0;
    /* Se desliza desde la izquierda */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-icon {
    cursor: pointer;
    font-size: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}

.sidebar-menu a:hover {
    color: #00aaff;
}